Health Care Blue Book

In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

pd.options.display.max_columns = 999

In [2]:
%matplotlib inline

In [3]:
prov_pmnt_2017 = pd.read_csv('../data/Medicare_Provider_Util_Payment_PUF_CY2017.txt', sep='\t',
header=0, dtype={'nppes_provider_zip': 'str'})

prov_pmnt_2017 = prov_pmnt_2017.drop([0])
prov_pmnt_2017 = prov_pmnt_2017.reset_index(drop=True)
pd.set_option('display.max_columns', None)
prov_pmnt_2017.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000

Extract Zip files to /data

In [4]:
# import zipfile
# with zipfile.ZipFile("../data/Medicare_Provider_Util_Payment_PUF_CY2016.zip", "r") as zip_payments_2016:
#     zip_payments_2016.extractall("../data/")

In [5]:
# import zipfile
# with zipfile.ZipFile("../data/Medicare_Provider_Util_Payment_PUF_CY2015.zip", "r") as zip_payments_2015:
#     zip_payments_2015.extractall("../data/")

Chunks code to use for sampling

In [6]:
# CHUNKS to review smaller sets of rows (change in the chunksize when read)
# look at the column types - first five rows in chunks

# df= pd.read_excel('data/MUP_OHP_R19_P04_V10_D17_APC_Provider.xlsx', skiprows = [0, 1, 2, 3, 4])
    
# op_2017_chunks = pd.read_excel(r'C:\Users\annru\Documents\healthcare-bluebook-the-unquantifiables\data\MUP_OHP_R19_P04_V10_D17_APC_Provider.xlsx', skiprows = [0, 1, 2, 3, 4], chunksize=5)
# op_2017_chunks1 = next(op_2017_chunks)  # payments1 is a dataframe of the first 5 rows

# for i, t in enumerate(payments1.iloc[0]):
#     print(type(t))

In [7]:
# remove because bringing in as year specific files
# med_prov_pmnt = pd.read_csv(r'C:\Users\annru\Documents\healthcare-bluebook-the-unquantifiables\data\Medicare_Provider_Util_Payment_PUF_CY2017.txt', sep='\t', header=0, chunksize=100000)
# med_prov_pmnt = med_prov_pmnt.drop([0])
# med_prov_pmnt = med_prov_pmnt.reset_index(drop=True)

In [8]:
# need to check which columns have mixed data (10)
prov_pmnt_2017.dtypes

npi                                   int64
nppes_provider_last_org_name         object
nppes_provider_first_name            object
nppes_provider_mi                    object
nppes_credentials                    object
nppes_provider_gender                object
nppes_entity_code                    object
nppes_provider_street1               object
nppes_provider_street2               object
nppes_provider_city                  object
nppes_provider_zip                   object
nppes_provider_state                 object
nppes_provider_country               object
provider_type                        object
medicare_participation_indicator     object
place_of_service                     object
hcpcs_code                           object
hcpcs_description                    object
hcpcs_drug_indicator                 object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_Medicare_payment_amt        float64
average_Medicare_standard_amt       float64
dtype: object

In [9]:
prov_pmnt_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9847443 entries, 0 to 9847442
Data columns (total 26 columns):
npi                                 int64
nppes_provider_last_org_name        object
nppes_provider_first_name           object
nppes_provider_mi                   object
nppes_credentials                   object
nppes_provider_gender               object
nppes_entity_code                   object
nppes_provider_street1              object
nppes_provider_street2              object
nppes_provider_city                 object
nppes_provider_zip                  object
nppes_provider_state                object
nppes_provider_country              object
provider_type                       object
medicare_participation_indicator    object
place_of_service                    object
hcpcs_code                          object
hcpcs_description                   object
hcpcs_drug_indicator                object
line_srvc_cnt                       float64
bene_unique_cnt                     float64
bene_day_srvc_cnt                   float64
average_Medicare_allowed_amt        float64
average_submitted_chrg_amt          float64
average_Medicare_payment_amt        float64
average_Medicare_standard_amt       float64
dtypes: float64(7), int64(1), object(18)
memory usage: 1.9+ GB

In [10]:
# CHUNKS to review smaller sets of rows (change in the chunksize when read)
# look at the column types - first five rows in chunks
    
payments_chunks = pd.read_csv(r'C:\Users\annru\Documents\healthcare-bluebook-the-unquantifiables\data\Medicare_Provider_Util_Payment_PUF_CY2017.txt', sep='\t', header=0, chunksize=5)
payments1 = next(payments_chunks)  # payments1 is a dataframe of the first 5 rows

for i, t in enumerate(payments1.iloc[0]):
    print(type(t))

<class 'numpy.int64'>
<class 'str'>
<class 'float'>
<class 'numpy.float64'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'numpy.float64'>
<class 'float'>
<class 'numpy.float64'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'numpy.float64'>
<class 'float'>
<class 'float'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [11]:
# Payment data for 2016
prov_pmnt_2016 = pd.read_csv('../data/Medicare_Provider_Util_Payment_PUF_CY2016.txt', sep='\t', header=0,
nrows=100000, dtype={'nppes_provider_zip': 'str'}   
                            )
prov_pmnt_2016 = prov_pmnt_2016.drop([0])
prov_pmnt_2016 = prov_pmnt_2016.reset_index(drop=True)
pd.set_option('display.max_columns', None)
prov_pmnt_2016.head()

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,NPPES_PROVIDER_ZIP,NPPES_PROVIDER_STATE,NPPES_PROVIDER_COUNTRY,PROVIDER_TYPE,MEDICARE_PARTICIPATION_INDICATOR,PLACE_OF_SERVICE,HCPCS_CODE,HCPCS_DESCRIPTION,HCPCS_DRUG_INDICATOR,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,AVERAGE_MEDICARE_STANDARD_AMT
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854.0,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,57.0,55.0,57.0,72.743158,325.157895,54.474386,55.807193
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854.0,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,38.0,38.0,38.0,135.010000,614.000000,105.850000,107.230000
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854.0,MD,US,Internal Medicine,Y,F,99220,Hospital observation care typically 70 minutes...,N,23.0,23.0,23.0,189.239565,769.347826,146.116522,144.278696
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854.0,MD,US,Internal Medicine,Y,F,99221,"Initial hospital inpatient care, typically 30 ...",N,20.0,20.0,20.0,100.750000,460.000000,78.990000,80.280000
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854.0,MD,US,Internal Medicine,Y,F,99222,"Initial hospital inpatient care, typically 50 ...",N,96.0,87.0,96.0,136.250000,625.000000,105.477604,107.007708

In [12]:
# Payment data for 2015
prov_pmnt_2015 = pd.read_csv('../data/Medicare_Provider_Util_Payment_PUF_CY2015.txt', sep='\t', header=0,
nrows=100000, dtype={'nppes_provider_zip': 'str'}  
                            )
prov_pmnt_2015 = prov_pmnt_2015.drop([0])
prov_pmnt_2015 = prov_pmnt_2015.reset_index(drop=True)
pd.set_option('display.max_columns', None)
prov_pmnt_2015.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,23.0,23.0,23.0,72.680000,328.000000,54.502609,55.280870
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,18.0,18.0,18.0,135.850000,614.000000,100.958889,102.348889
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99221,"Initial hospital inpatient care, typically 30 ...",N,59.0,58.0,59.0,101.365085,333.288136,79.469661,80.859831
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99222,"Initial hospital inpatient care, typically 50 ...",N,132.0,130.0,132.0,139.010455,356.492424,107.933409,107.969621
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,215021854,MD,US,Internal Medicine,Y,F,99223,"Initial hospital inpatient care, typically 70 ...",N,220.0,215.0,220.0,205.185955,631.186364,157.908955,160.930409

In [13]:
prov_pmnt_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 26 columns):
npi                                 99999 non-null int64
nppes_provider_last_org_name        99999 non-null object
nppes_provider_first_name           95713 non-null object
nppes_provider_mi                   72998 non-null object
nppes_credentials                   93500 non-null object
nppes_provider_gender               95713 non-null object
nppes_entity_code                   99999 non-null object
nppes_provider_street1              99999 non-null object
nppes_provider_street2              45015 non-null object
nppes_provider_city                 99999 non-null object
nppes_provider_zip                  99999 non-null object
nppes_provider_state                99999 non-null object
nppes_provider_country              99999 non-null object
provider_type                       99999 non-null object
medicare_participation_indicator    99999 non-null object
place_of_service                    99999 non-null object
hcpcs_code                          99999 non-null object
hcpcs_description                   99999 non-null object
hcpcs_drug_indicator                99999 non-null object
line_srvc_cnt                       99999 non-null float64
bene_unique_cnt                     99999 non-null float64
bene_day_srvc_cnt                   99999 non-null float64
average_Medicare_allowed_amt        99999 non-null float64
average_submitted_chrg_amt          99999 non-null float64
average_Medicare_payment_amt        99999 non-null float64
average_Medicare_standard_amt       99999 non-null float64
dtypes: float64(7), int64(1), object(18)
memory usage: 19.8+ MB