# Medicare Provider Utilization and Payment Data (2015-2017)
# Large Dataset

**2015 Data**

In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
%matplotlib inline

In [4]:
# headers = ['col1', 'col2', 'col3', 'col4']
# dtypes = {'col1': 'str', 'col2': 'str', 'col3': 'str', 'col4': 'float'}
# parse_dates = ['col1', 'col2']
# pd.read_csv(file, sep='\t', header=None, names=headers, dtype=dtypes, parse_dates=parse_dates)

# headers = ['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name', 'nppes_provider_mi', 'nppes_credentials',
#           'nppes_provider_gender', 'nppes_entity_code','nppes_provider_street1','nppes_provider_street2','nppes_provider_city',
#           'nppes_provider_zip','nppes_provider_state','nppes_provider_country','provider_type','medicare_participation_indicator',
#            'place_of_service','hcpcs_code','hcpcs_description','hcpcs_drug_indicator','line_srvc_cnt','bene_unique_cnt','bene_day_srvc_cnt',
#            'average_medicare_allowed_amt','average_submitted_chrg_amt','average_medicare_payment_amt','average_medicare_standard_amt']

# dtypes = {'npi': 'int', 'nppes_provider_last_org_name': 'str', 'nppes_provider_first_name': 'str', 'nppes_provider_mi': 'str', 'nppes_credentials':'str',
#          'nppes_provider_gender':'str','nppes_entity_code':'str','nppes_provider_street1':'str','nppes_provider_street2':'str','nppes_provider_city':'str',
#           'nppes_provider_zip':'str','nppes_provider_state':'str','nppes_provider_country':'str','provider_type':'str','medicare_participation_indicator':'str',
#           'place_of_service':'str','hcpcs_code':'str','hcpcs_description':'str','hcpcs_drug_indicator':'str','line_srvc_cnt':'float','bene_unique_cnt':'float',
#           'bene_day_srvc_cnt':'float','average_medicare_allowed_amt':'float','average_submitted_chrg_amt':'float','average_medicare_payment_amt':'float',
#           'average_medicare_standard_amt':'float'}

#prov_pmnt_2015 = pd.read_csv('../data/Medicare_Provider_Utilization_Payment_2015.txt', sep='\t', header=None, names=headers, dtype=dtypes)


prov_pmnt_2015 = pd.read_csv('../data/Medicare_Provider_Utilization_Payment_2015.txt', sep='\t', header=0)
prov_pmnt_2015.head()

C:\Users\brand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1,CPT copyright 2014 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,23.0,23.0,23.0,72.680000,328.000000,54.502609,55.280870
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,18.0,18.0,18.0,135.850000,614.000000,100.958889,102.348889
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,59.0,58.0,59.0,101.365085,333.288136,79.469661,80.859831
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99222,"Initial hospital inpatient care, typically 50 ...",N,132.0,130.0,132.0,139.010455,356.492424,107.933409,107.969621

**2016 Data**

In [6]:
prov_pmnt_2015 = prov_pmnt_2015.drop([0])
prov_pmnt_2015 = prov_pmnt_2015.reset_index(drop=True)
pd.set_option('display.max_columns', None)

In [7]:
prov_pmnt_2016 = pd.read_csv('../data/Medicare_Provider_Utilization_Payment _2016.txt', sep='\t', header=0)

prov_pmnt_2016 = prov_pmnt_2016.drop([0])
prov_pmnt_2016 = prov_pmnt_2016.reset_index(drop=True)
pd.set_option('display.max_columns', None)
prov_pmnt_2016.head()

C:\Users\brand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,NPI,NPPES_PROVIDER_LAST_ORG_NAME,NPPES_PROVIDER_FIRST_NAME,NPPES_PROVIDER_MI,NPPES_CREDENTIALS,NPPES_PROVIDER_GENDER,NPPES_ENTITY_CODE,NPPES_PROVIDER_STREET1,NPPES_PROVIDER_STREET2,NPPES_PROVIDER_CITY,NPPES_PROVIDER_ZIP,NPPES_PROVIDER_STATE,NPPES_PROVIDER_COUNTRY,PROVIDER_TYPE,MEDICARE_PARTICIPATION_INDICATOR,PLACE_OF_SERVICE,HCPCS_CODE,HCPCS_DESCRIPTION,HCPCS_DRUG_INDICATOR,LINE_SRVC_CNT,BENE_UNIQUE_CNT,BENE_DAY_SRVC_CNT,AVERAGE_MEDICARE_ALLOWED_AMT,AVERAGE_SUBMITTED_CHRG_AMT,AVERAGE_MEDICARE_PAYMENT_AMT,AVERAGE_MEDICARE_STANDARD_AMT
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,57.0,55.0,57.0,72.743158,325.157895,54.474386,55.807193
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,38.0,38.0,38.0,135.010000,614.000000,105.850000,107.230000
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99220,Hospital observation care typically 70 minutes...,N,23.0,23.0,23.0,189.239565,769.347826,146.116522,144.278696
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99221,"Initial hospital inpatient care, typically 30 ...",N,20.0,20.0,20.0,100.750000,460.000000,78.990000,80.280000
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99222,"Initial hospital inpatient care, typically 50 ...",N,96.0,87.0,96.0,136.250000,625.000000,105.477604,107.007708

**2017 Data**

In [8]:
prov_pmnt_2017 = pd.read_csv('../data/Medicare_Provider_Utilization_Payment_2017.txt', sep='\t', header=0)

prov_pmnt_2017 = prov_pmnt_2017.drop([0])
prov_pmnt_2017 = prov_pmnt_2017.reset_index(drop=True)
pd.set_option('display.max_columns', None)
prov_pmnt_2017.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip,nppes_provider_state,nppes_provider_country,provider_type,medicare_participation_indicator,place_of_service,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99217,Hospital observation care discharge,N,100.0,96.0,100.0,73.398800,325.780000,56.827200,57.492400
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99218,Hospital observation care typically 30 minutes,N,26.0,25.0,26.0,100.080000,449.000000,78.460000,79.306154
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99219,Hospital observation care typically 50 minutes,N,52.0,51.0,52.0,136.380000,614.000000,102.807692,103.895385
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99220,Hospital observation care typically 70 minutes...,N,59.0,59.0,59.0,190.363729,755.932203,141.293559,142.865763
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,2.15022e+08,MD,US,Internal Medicine,Y,F,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16.0,16.0,101.680000,462.812500,79.710000,80.750000

# Work from here for Option 2